# Компилированные бинарники и исполняемые файлы
*.exe
*.out
*.app
matrix_O0
matrix_O3

# Объектные файлы
*.o
*.obj

# Директории отладки/сборки
Debug/
Release/
build/
bin/
obj/

# Скрытые файлы ОС и редакторов
.DS_Store
.vscode/

# Остальные временные файлы
*.log
*.tmp
*.swp
